<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoCine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoCine.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto<span class="text-active">Cine</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Boleteria">Boleteria</a>
                        </li>
                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ubicacion">Ubicacion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted page-footer bg-image">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-4 py-3">
                    <h3>Proyecto Cine</h3>
                    <p>Tu cine de barrio</p>
                    <div class="social-media-container">
                        <h4>Redes sociales</h4>
                        <div class="social-media">
                            <a href="instagram.com"><img src="~/imgs/icon-ig.png" /></a>
                            <a href="facebook.com"><img src="~/imgs/icon-fb.png" /></a>
                            <a href="twitter.com"><img src="~/imgs/icon-tw.png" /></a>
                            <a href="linkedin.com"><img src="~/imgs/icon-ldin.png" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <h5>Enlaces</h5>
                    <div class="footer-menu">
                        <a class="footer-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        <a class="footer-link" asp-area="" asp-controller="Home" asp-action="Boleteria">Boleteria</a>
                        <a class="footer-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <h5>Contactanos</h5>
                    <p>Av. Cabildo 3000</p>
                    <p>+54 11 5645-1231</p>
                    <p>proyectocine@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
