@model ProyectoCine.Models.Entrada
@*<h1>@TempData["titulo"]</h1>*@

<div class="page-section">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/imgs/black-panther.png" class="d-block w-100 img-carousel" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/imgs/blackadam.png" class="d-block w-100 img-carousel" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/imgs/argentina.png" class="d-block w-100 img-carousel" alt="..." />
                </div>
            </div>
        </div>

    </div>
</div>

@*<a asp-action="Create" class="btn btn-outline-dark" style="margin-bottom:10px;">CREAR NUEVO</a>*@

<form asp-action="Create">
    @*llama al metodo POST*@

    @* sala fila asiento*@
    <div class="form-group">

        <div class="form-group">
            <label class="control-label">Película</label>
            <select asp-for="NombrePelicula" class="form-select" required>
                <option value="">Seleccione la pelicula</option>
                <option value="Black Panter">Black Panther</option>
                <option value="One Piece">One Piece</option>
                <option value="Crepusculo">Crepusculo</option>
                <option value="Argentina, 1985">Argentina, 1985</option>
                <option value="Cronica de un affaire">Cronica de un affaire</option>
                <option value="Harry Potter">Harry Potter</option>
                <option value="La Huérfana">La Huérfana</option>
                <option value="La luz del diablo">La luz del diablo</option>
                <option value="No odiarás">No odiarás</option>
                <option value="Pasaje al paraíso">Pasaje al paraíso</option>
                <option value="Sonrie">Sonrie</option>
                <option value="Taxy Driver">Taxy Driver</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Sala</label> @*asp-for revisa lo que tiene el model*@
        <select asp-for="Sala" class="form-select" required>
            <option value="">Seleccione la sala</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Fila</label>
        <select asp-for="Fila" class="form-select" required>
            <option value="">Seleccione la fila</option>
            <option value="A">a</option>
            <option value="B">b</option>
            <option value="C">c</option>
            <option value="D">d</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Asiento</label>
        <select asp-for="Asiento" class="form-select">
            <option value="">Seleccione el asiento</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>


    <div class="form-group">
        <label class="control-label">Horario</label>
        <select asp-for="Horario" class="form-select" aria-label="Horarios" required>
            <option value="">Seleccione el horario</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
            <option value="21:00">21:00</option>
            <option value="22:00">22:00</option>
            <option value="23:00">23:00</option>
            <option value="00:00">00:00</option>
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Nombre y Apellido</label>
        <input asp-for="NombreYApellido" class="form-control" type="text" value="" required>
    </div>

    <div class="form-btns text:align:center">
        <div class="form-group">
            <input type="submit" value="COMPRAR" class="btn btn-form text:align:center" /> @*submit hace envios de tipo POST*@

        </div>
        <a asp-action="Index" asp-controller="Home" class="btn btn-exit text:align:center">VOLVER</a>
    </div>
</form>



