@model ProyectoCine.Models.Entrada
@*<h1>@TempData["titulo"]</h1>*@

@*<a asp-action="Create" class="btn btn-outline-dark" style="margin-bottom:10px;">CREAR NUEVO</a>*@

<form asp-action="Create"> @*llama al metodo POST*@

   @* sala fila asiento*@
    <div class="form-group">
        <label class="control-label">SALA</label>
        <input asp-for="Sala" class="form-control" /> @*asp-for revisa lo que tiene el model*@
    </div>

    <div class="form-group">
        <label class="control-label">FILA</label>
        <input asp-for="Fila" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label">ASIENTO</label>
        <input asp-for="Asiento" class="form-control" />
    </div>

    <div class="form-group" style="margin-top:10px;">
        <input type="submit" value="COMPRAR" class="btn btn-outline-dark" /> @*submit hace envios de tipo POST*@
    </div>
</form>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark" style="margin-top:10px;">VOLVER</a>