@*@model IEnumerable<Entrada>*@
<!DOCTYPE html>
<html lang="es">
<head>

</head>
<body>

    <div id="app" class="d-flex flex-column w-100 h-100">
        <header>
        </header>

        <main class="flex-fill">

            <div class="title jumbotron shadow jumbotron-fluid text-white py-0 text-center text-uppercase cp-bg-black">
                <div class="container d-inline-flex justify-content-center align-items-center py-4">
                    <h2 class="title-text display-5"><span class="text-active">Pantera Negra:</span> Wakanda Por Siempre</h2>
                </div>

            </div>
            @*Trailer*@

            <div class="container">
                <div class="row detalle-container">

                    <img src="~/imgs/pantera-negra.png" class="img-pelicula-detalle" />



                    <iframe class="video-yt" src="https://www.youtube.com/embed/uvHiOhjjtLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="row tab-section">
                    <div class="col detalle-text">

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Sinopsis</button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Información adicional</button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Entradas</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                En PANTERA NEGRA: WAKANDA POR SIEMPRE de Marvel Studios, la reina Ramonda (Angela Bassett), Shuri (Letitia Wright), M'Baku (Winston Duke), Okoye (Danai Gurira) y las Dora Milaje (incluida Florence Kasumba) luchan por proteger a su nación de las potencias mundiales que intervienen tras la muerte del Rey T'Challa. Mientras los habitantes de Wakanda se esfuerzan embarcarse en un nuevo capítulo, los héroes deben unirse con la ayuda de War Dog Nakia (Lupita Nyong'o) y Everett Ross (Martin Freeman) y forjar un nuevo camino para el reino de Wakanda. El film que cuenta con Tenoch Huerta como Namor, rey de una nación submarina oculta, también está protagonizada por Dominique Thorne, Michaela Coel, Mabel Cadena y Alex Livanalli. PANTERA NEGRA: WAKANDA POR SIEMPRE, dirigida por Ryan Coogler y con la producida por Kevin Feige y Nate Moore, estrena en cines el 10 de noviembre de 2022.

                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                @*<div>
                                <p>
                                <strong>Título Original</strong>: Black Panther: Wakanda Forever

                                <strong>Origen</strong>: USA

                                <strong>Género</strong>: Acción, Aventura, Ciencia Ficción

                                <strong>Director</strong>: Ryan Coogler

                                <strong>Actores</strong>: Lupita Nyong, Letitia Wright, Danai Gurira, Winston Duke, Martin Freeman, Daniel Kaluuya, Angela Bassett, Tenoch Huerta, Michaela Coel, Dominique Thorne

                                <strong>Calificación</strong>: P-13

                                <strong>Duración</strong>: 162 min.

                                <strong>Distribuidora</strong>: Disney
                                </p>
                                </div>*@
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                asdasdsa
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </main>
    </div>
</body>
</html>
