@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --primario: #FCB66E;
    --oscuro: #e2a363;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    color: #fffcf2;

}

html {
  font-size: 12px;
}



html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000000;
    color: #fffcf2 !important;
}

.text-active{
    color: var(--primario);
}

.navbar{
    background-color: #000000 !important;
    border-bottom: 2px #fff6cb solid;
}

.navbar-nav{
    display:flex;
    justify-content: flex-end;

}

.nav-link, .navbar-brand {
    color: #fffcf2 !important;
    margin-inline: 2rem;
}

.nav-link:hover{
    color: var(--primario) !important;
    transition-duration: 0.2s;
}

option{
    color: #000000 !important;
}

a {
    text-decoration: none;
}

.mapa {
    border-radius: 4px;
    margin: 30px;
}

.titulo-contacto{
    text-align: center;
    margin: 30px 0 30px 0;
}


.contact-icon {
    color: var(--primario);
    height: 4rem;
    font-size: 4rem;
    margin-bottom: 15px;
}

footer {
    background-image: url('../imgs/diamond-sunset.svg');
}

.page-footer {
    position: relative;
    display: block;
    padding-top: 40px;
}
.page-footer p {
  color: #898798;
}
.page-footer h3,
.page-footer h4,
.page-footer h5 {
  color: #fff;
  margin-bottom: 24px;
}

.footer-menu{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.footer-link{
    color: #808080;
    margin-block:10px;
}

.footer-link:hover {
    color: var(--primario);
}

.text-secondary {
    color: var(--primario) !important;
}

.btn-entradas {
    background-color: var(--primario);
    margin-block: 50px;
    margin-left: 80%;
    padding: 10px 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
}

.btn-entradas:hover{
    background-color: var(--oscuro);
    color: white;
    transition-duration: 0.2s;
}

.container-peliculas {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.item-pelicula {
    /* Arriba | Derecha | Abajo | Izquierda */
    margin: 40px 30px 0 0;
}

.titulo-pelicula{
    text-align: center;
    background-color: var(--primario);
    font-weight: 700;
    
}

.page-section-peliculas{
    background-color: #151515    !important;
}

.social-media-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}


.img-pelicula {
    height: 210px;
    width: 154px;
}

.img-pelicula-detalle {
    height: 300px;
    width: 250px;
}

.video-yt {
    width:560px;
    height:315px;
}


.detalle-container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.tab-section {
    margin-block: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detalle-text {
    width: 60%;
}

.detalle-entradas{
    width: 40%;
}

.detalle-info-title{
    cursor:default;
}

.nav-tabs > .active{
    color: var(--primario) !important;
    font-weight: 700;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media (min-width: 768px) {
    html {
        font-size: 1.1em;
    }
}