@model IEnumerable<Pelicula>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="text-align:center">Boleteria</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="colum">
            <table class="table">
                <tr>
                    <td>
                        <label>NOMBRE</label>
                    </td>
                    <td>
                        <label>DESCRIPCIÓN</label>
                    </td>
                    <td>
                    </td>

                </tr>
                @foreach (var pelicula in Model)
                {
                    <tr>
                        <td>
                            <label>@pelicula.Nombre</label>
                        </td>
                        <td style="width:50%">
                            <label>@pelicula.Descripcion</label>
                        </td>
                        <td>

                            <form class="row">
                                <div class="col-6 row">
                                    <label class="col-3" for="horario"></label>
                                    <select class="form-select" aria-label="Horarios">
                                        <option selected>Seleccionar horario</option>
                                        <option value="19">19:00</option>
                                        <option value="20">20:00</option>
                                        <option value="21">21:00</option>
                                        <option value="22">22:00</option>
                                        <option value="23">23:00</option>
                                        <option value="24">00:00</option>
                                    </select>
                                </div>
                                <div class="col-6 justify-content-center">
                                    <input class="btn btn-outline-primary" type="submit" value="Comprar">
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>

</div>