<div class="container">
    <div class="page-section">
        <h2 class="titulo-contacto">¿Cómo llegar?</h2>
        <div class="map-container text-center">
            @*Mapa ubicacion del cine*@
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13143.855173757429!2d-58.47274903022461!3d-34.554472099999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6826f78505b%3A0x2fb22f6c9c7949a6!2sAv.%20Cabildo%203000%2C%20C1429AAO%20CABA!5e0!3m2!1ses-419!2sar!4v1668378810761!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h2 class="titulo-contacto">Contacto</h2>
        </div>
        <div class="container">
            <div class="row text-center align-items-center">
                @*Información de contacto*@
                <div class="col-lg-4 py-3">
                    <div class="display-4 text-center text-primary">
                        <img src="~/imgs/bx-map.png" class="contact-icon" />
                    </div>
                    <p class="mb-3 font-weight-medium text-lg">Dirección</p>
                    <p class="mb-0 text-secondary">Av. Cabildo 3000 - Belgrano, CABA</p>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="display-4 text-center text-primary">
                        <img src="~/imgs/bx-phone.png" class="contact-icon" />
                    </div>
                    <p class="mb-3 font-weight-medium text-lg">Teléfono</p>
                    <p class="mb-0 text-secondary">11 5645-1231</p>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="display-4 text-center text-primary">
                        <img src="~/imgs/bx-envelope.png" class="contact-icon" />
                    </div>
                    <p class="mb-3 font-weight-medium text-lg">Correo electrónico</p>
                    <p class="mb-0 text-secondary">proyectocine@gmail.com</p>
                </div>
            </div>
        </div>
        </div>

</div>