<link rel="stylesheet" type="text/css" href="StyleSheet.css">

<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="text-align:center">INDEX</h2>
        </div>
    </div>
</div>