<link rel="stylesheet" type="text/css" href="StyleSheet.css">

<div class="page-section">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/imgs/argentina1985.png" class="d-block w-100 img-carousel" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/imgs/blackpanther.png" class="d-block w-100 img-carousel" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/imgs/blackadam.png" class="d-block w-100 img-carousel" alt="..." />
                </div>

            </div>
        </div>
        
    </div>
</div>

<div class="page-section page-section-peliculas">
    <div class="container">
        <div class="container-peliculas">
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/harry-potter.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Harry Potter</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/la-huerfana.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">La Huérfana</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/la-luz-del-diablo.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">La luz del diablo</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/one-piece.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">One Piece</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a asp-area="" asp-controller="Entrada" asp-action="PeliBlackPanther">
                    <img src="~/imgs/pantera-negra.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Pantera Negra</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/super-mascotas.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Super Mascotas</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/crepusculo.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Crepúsculo</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/no-odiaras.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">No Odiaras</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/sonrie.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Sonrie</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/taxy-driver.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Taxy Driver</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pasaje-al-paraiso.png" class="img-pelicula"/>
                    <p class="titulo-pelicula">Pasaje al Paraiso</p>
                </a>
            </div>
        </div>
    </div>
</div>