<link rel="stylesheet" type="text/css" href="StyleSheet.css">

<div class="page-section">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./imgs/black-panther.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./imgs/blackadam.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./imgs/argentina.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <a class="btn btn-entradas text:align:center" asp-area="" asp-controller="Entrada" asp-action="Entrada">Comprar entradas</a>
    </div>
</div>

<div class="page-section page-section-peliculas">
    <div class="container">
        <div class="container-peliculas">
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
            <div class="item-pelicula">
                <a href="" title="" class="">
                    <img src="~/imgs/pelicula-blackadam.png" class="img-pelicula" />
                    <p class="titulo-pelicula">Black Adam</p>
                </a>
            </div>
        </div>
    </div>
</div>